

$theme-colors: (
     "primary": #FF69B4,
     "secondary": #000000
);

// Images
$couponSection-bg: image-url('', false, false);

// Colors
$transparent: #ffffff00;
$dark-primary: #000000;
$dark-tertiary: #000000a8;
$light-primary: #ffffff;
$green-primary: #35d32f;
$green-secondary: #23a51e;
$gray-primary: #dbdbdb; 


// Fonts

//Font-size
h2{
    font-size: 25px;
    color: $dark-primary;
}

.h2-light{
    color: $light-primary;
}
p{
    color: $light-primary;
}

.p-dark{
    color: $dark-primary;
}

// Buttons
.btn-outline-secondary{
    &:hover{
        background: $dark-primary;
        color: $light-primary;
    }
}

html{
    scroll-behavior: smooth;
}

html,body {
    
    padding-top:56px; /*height of fixed navbar*/
}

body {
    color: white;
    background-color: #000000;
    position: relative;
} 

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container{

}

.spacer{
    width: 100%;
    padding-top:45px;
    padding-bottom:45px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
}

.btn{
border-radius:1px;
width:100%;
max-width:200px;
text-align:center;
font-weight:600;

}

.navbar { 
    -webkit-transition:all  0.2s ease;
    -moz-transition:all  0.2s ease; 
    -o-transition:all  0.2s ease;        
    transition:all  0.2s ease;  
}

  
  .affix {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
    -webkit-transition:all  0.2s linear;
    -moz-transition:all  0.2s linear;  
    -o-transition:all  0.2s linear;         
    transition:all  0.2s linear;  
  }

  img{
    -webkit-transition:all  0.2s ease;
    -moz-transition:all  0.2s ease; 
    -o-transition:all  0.2s ease;        
    transition:all  0.2s ease; 
  }

  // Primary Navigation
  #main-nav.affix{
      background:$dark-tertiary;
      .container{
        .hb-brand{
            img{
                max-width: 60px;
                padding:5px 5px;

            }
            #main-nav-links{
                .navbar-nav{
                    .nav-link{
                        font-size: 13px;
                    }
                }
              
            } 
        }
      }

  }
  
  section {
    min-height: 350px;
  }

#main-nav{
    #main-nav-links{
        div > a{
            margin-left: 20px;
            margin-right: 20px;
            color: $light-primary;
        }
    }
    -webkit-transition:padding 0.2s ease;
    -moz-transition:padding 0.2s ease; 
    -o-transition:padding 0.2s ease;        
    transition:padding 0.2s ease;
    .navbar-collapse.show{
        div{
            a.nav-link{
                
 
            }
        }
    }
}



// Hero Section 
#hero-section{
    height: 100vh;
    min-height: 500px;
    // background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;  
    p.lead{
        font-weight: 400;
    font-size: 25px;
    letter-spacing: 3.5px;
    }
    h1{
        font-weight: 900 !important;
        line-height: 61px;
        font-size: 70px;
    }
    button{
        background:$green-primary;
        border-color:$green-primary;
        color:$dark-primary;
        &:hover{
            color:$light-primary;
        }
    }

}

#about-section{
    background: $light-primary;
    .text-wrap{
        width: 100%;
        max-width: 700px;
        padding: 10px;
        h2{
            color: $dark-primary !important;
            text-transform: uppercase;
            letter-spacing: 3px;
           
        }
        .h2-bolder{
            @extend h2;
            font-weight: 800;
        }
 
        p{
            color: $dark-primary;
        }
    }
    .img-wrap{
        border:1px solid #bfbfbf;
        overflow: hidden;
    }
    
}

#coupon-section{
    background:$light-primary;
    h2{
        font-size: 2.5rem;
        margin-bottom: 10px;
        padding-bottom: 0px;
        line-height: 30px;
        letter-spacing: 4px;
          
    }
    h2 span{
        font-weight: 800;
    }
    
    p{
        color: $green-primary;
        font-weight: 900;
        font-size: 4rem;
        margin-top: 0px;
        padding-top: 0px;
        line-height: 60px;
    }
    img{
        width:100%;

    }

}
#testimonial-section{
    background: #459f33;
    background: -webkit-linear-gradient(0deg, #276301, #4ab335);
    background: linear-gradient(0deg, #276301, #4ab335);
    h2{
        letter-spacing: 8px;
        & span{
            font-weight:800;
        }
    }

    .block-wrap{
        width: 200%;
        max-width: 300px;
        margin:0 auto;
        img.bigQuote{
            max-width:40px;
            margin-top:20px;
            margin-bottom:20px;
                
            
        }
        p{

        }
    }
    .star-wrap{
        
        width:100%;
        max-width:140px;
        img{
            background: $green-secondary;
            max-width:20px;
            padding:2px;
            border:1px solid #00000006;
            border-radius:1px;
        }

    }
}
#newsletter-section{
    background:$light-primary;
    .block-wrap{
        width:100%;
        max-width: 800px;
        h2{
            letter-spacing: 4px;
            & span{
                font-weight: 800;
            }
        }
        p{
            font-weight: 400;
            color:$dark-primary;
            font-size: 1.2rem;
        }
        form {
            &.form-inline{
            margin: 0 auto;
            max-width: 595px;
            }
            .form-row{
                max-width:400px;
                width:100%;
                overflow: hidden;
                input {
                    height:44px; 
                    width:100%; 
                    background: $gray-primary;
                    color: $dark-primary;
                }
            }
            button{
                margin-top:23px;
                background: $dark-primary;
                color:$green-primary;
                border-radius:2px;
                height:44px;
                &:hover{
                    background: $green-primary;
                    border-color: $green-primary;
                    color:$light-primary;
                }
            }
        }
 
        
    }
   
    
}
#pre-footer-section{
    background: $gray-primary;
    .text-wrap{
        width:100%;
        max-width:900px;
        margin:0 auto;
        h3{
            color:$dark-primary;
            font-size:19px;
            font-weight:800;
            text-align: center;
        }
        p{
            color:$dark-primary;
            font-size: 14px;
            text-align: center;
        }
    }
    
}
#footer-section{
    background: $dark-primary;
    h5{
        font-size: 17px;
        font-weight: 800;
    }
    ul{
        li{
            a{
                padding: 0.2rem 0rem;
                font-weight: 500;
                color:$gray-primary;
                &:hover{
                    color:$green-primary;
                }
            }
        }
    }
}

.hb-brand{}

.bg-none{
    background:$transparent;
}

// ANIMATIONS 
/* Buzz */
@-webkit-keyframes hvr-buzz {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
  }
  @keyframes hvr-buzz {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
  }
  .hvr-buzz {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

  /* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: $green-primary;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }
  

  /* Bubble Float Left */
.hvr-bubble-float-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-bubble-float-left:before {
    position: absolute;
    z-index: -1;
    content: '';
    top: calc(50% - 10px);
    left: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent $dark-primary transparent transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-bubble-float-left:hover, .hvr-bubble-float-left:focus, .hvr-bubble-float-left:active {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    border-color: transparent $green-primary transparent transparent;
  }
  .hvr-bubble-float-left:hover:before, .hvr-bubble-float-left:focus:before, .hvr-bubble-float-left:active:before {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
    border-color: transparent $green-primary transparent transparent;
  }

@media (max-width: 730px) {
    #hero-section {
        p.lead{
            font-size: 14px;
            letter-spacing: 1px;
        }
        h1 {
            line-height: 34px;
            font-size: 36px;
        }
        p.subtext{
            font-size: 12px;
    letter-spacing: .4px;
        }
        
    }
    #coupon-section{         
        img{
            width:100%;
            max-width:300px;
        }      
    }
    #testimonial-section{
        .star-wrap{
            margin-bottom:90px;
        }
    }
    #newsletter-section{

        .block-wrap{
            form{
                button{
                    display: block;
                    width:100%;
                }
            }
        }
    }
}